html {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    font-size: 10px;
  }
  #remitano-react-app {
    height: 100%;
  }
  body {
    background-color: #fff;
    margin: 0;
    height: 100%;
    color: #49474A;
    font-family: Arial, sans-serif;
  }
  #_p2p_landing .navbar-brand {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1.6rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
  }
  #_p2p_landing .font-weight-bold {
    font-weight: 700 !important;
  }
  #_p2p_landing .text-20, .text-24 {
    line-height: 3rem;
    letter-spacing: 0;
    font-weight: 400;
  }
  #_p2p_landing .svg-icon svg {
    width: 1.4rem;
    height: 1.4rem;
  }
  #_p2p_landing .text-20 {
    font-size: 2rem;
  }
  #_p2p_landing .text-18 {
    font-size: 1.8rem;
  }
  #_p2p_landing .text-16 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
  }
  #_p2p_landing .text-14 {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.16px;
    font-weight: 400;
  }
  #_p2p_landing .text-gray-light {
    color: #D8D9DE !important;
  }
  #_p2p_landing .box {
    border-radius: .4rem;
    border: none;
  }
  #_p2p_landing .box .box-violet-lightest {
    background-color: rgb(63, 45, 79);
    border-radius: .4rem;
    padding: .8rem;
  }
  #_p2p_landing {
    margin-bottom: 300px;
    background-color: #FBFBFC;
  }
  #_p2p_landing .block-download-app .block-download-app-content h2 {
    text-align: center;
    color: #27133a;
    font-size: 33px;
    font-weight: 700;
    line-height: 49px;
    margin-top: 0;
  }
  #_p2p_landing h2 {
    margin-bottom: 2.4rem;
  }
  #_p2p_landing .remi-footer-copyright-policy {
    text-align: right;
  }
  #_p2p_landing .background-color-fbfbfc {
    background-color: #FBFBFC;
  }
  #_p2p_landing, #_p2p_landing .remi-page-home {
    height: 100%;
  }
  #_p2p_landing .remi-header-container {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #210C34;
  }
  #_p2p_landing .icon-menu {
    opacity: 0.4;
  }
  #_p2p_landing .svg-icon.icon-32 svg {
    width: 3.2rem;
    height: 3.2rem;
  }
  #_p2p_landing .icon-white {
    fill: #fff;
  }
  #_p2p_landing svg {
    overflow: hidden;
    vertical-align: middle;
  }
  #_p2p_landing .text-success {
    color: #299D82 !important;
  }
  #_p2p_landing .text-danger {
    color: #E65656 !important;
  }
  #_p2p_landing img, svg {
    vertical-align: middle;
  }
  #_p2p_landing .justify-content-between {
    justify-content: space-between !important;
  }
  #_p2p_landing .remi-header-top .remi-logo-container .logo-img {
    height: 3rem;
  }
  #_p2p_landing .remi-header-top a, #_p2p_landing .remi-header-top .remi-link {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
  }
  #_p2p_landing .remi-header-top ul.remi-header-top-menu {
    list-style: none;
    margin: 0;
  }
  #_p2p_landing .remi-header-top ul.remi-header-top-menu > li {
    position: relative;
    display: inline-block;
    margin: 0 1.6rem;
  }
  #_p2p_landing .full-screen {
    background-color: #27133A;
    background-repeat: repeat;
    position: relative;
    padding: 2rem 0;
    min-height: 48rem;
    align-items: center;
    display: flex;
    height: 100%;
    margin-bottom: 24px;
  }
  #_p2p_landing .svg-icon {
    display: inline-flex;
    align-self: center;
    vertical-align: middle;
  }
  #_p2p_landing .dropdown-toggle-xl {
    display: flex;
    align-items: center;
    height: 6.4rem;
    cursor: pointer;
    background: #fff;
    padding: 0 0 0 1.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #EBECF0;
  }
  #_p2p_landing .dropdown-toggle-btn {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    padding: 0 1.6rem;
    background: #9B59B6;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  #_p2p_landing .ml-8 {
    margin-left: 8px !important;
  }
  #_p2p_landing .justify-content-center {
    justify-content: center !important;
  }
  #_p2p_landing .shadow {
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.15) !important;
  }
  #_p2p_landing .remi-link.active, #_p2p_landing a.active {
    text-decoration: underline;
  }
  #_p2p_landing .vertical-layout.item-spacing-xxxl > div {
    margin-bottom: 4.8rem !important;
  }
  #_p2p_landing .block-info {
    position: relative;
    background-color: #210C34;
    color: #fff;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 100px;
  }
  #_p2p_landing .block-info .block-info-title {
    margin-top: 0;
    font-size: 48px;
    font-weight: 300;
    line-height: 66px;
  }
  #_p2p_landing .block-info .block-info-p {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 0;
  }
  #_p2p_landing p {
    margin: 0 0 1.5em 0;
  }
  #_p2p_landing .block-info .block-info-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  #_p2p_landing .box.box-violet-light {
    background: #2F1C41;
  }
  *, :after, :before {
    box-sizing: border-box;
  }
  #_p2p_landing .vertical-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  #_p2p_landing .vertical-layout.item-spacing-lg > div {
    margin-bottom: 1.6rem !important;
  }
  #_p2p_landing .vertical-layout.item-spacing-md > div {
    margin-bottom: 0.8rem !important;
  }
  #_p2p_landing .text-white {
    color: #fff !important;
  }
  #_p2p_landing .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  #_p2p_landing .coin-selector-wrapper {
    margin-bottom: 2.4rem;
  }
  #svg-root {
    display: block;
    width: 0;
    height: 0;
  }
  #_p2p_landing .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  #_p2p_landing .container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  #_p2p_landing .icon-success {
    fill: #299D82;
  }
  #_p2p_landing .icon-danger {
    fill: #E65656;
  }
  #_p2p_landing .d-flex {
    display: flex !important;
  }
  #_p2p_landing .align-items-center {
    align-items: center !important;
  }
  #_p2p_landing button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
  }
  #_p2p_landing .btn-wider {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }
  #_p2p_landing .btn-md {
    padding: 0.7rem 1.5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
  }
  #_p2p_landing .vertical-layout:not(.flex-column-reverse) > div:last-child {
    margin-bottom: 0 !important;
  }
  #_p2p_landing .btn {
    border-radius: 4px;
    outline: none;
    padding: 0.7rem 1.5rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0;
    font-weight: 400;
    color: #49474A;
    background-color: #EBECF0;
    border: 0.1rem solid #EBECF0;
    transition: all 0.2s ease;
  }
  #_p2p_landing .btn-success {
    color: #fff;
    background-color: #299D82;
    border: 0.1rem solid #299D82;
    transition: all 0.2s ease;
  }
  #_p2p_landing .btn-danger {
    color: #fff;
    background-color: #E65656;
    border: 0.1rem solid #E65656;
    transition: all 0.2s ease;
  }
  #_p2p_landing .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-btc {
    text-transform: none;
  }
  #_p2p_landing .remi-header-top {
    display: none;
    position: relative;
    z-index: 2;
    user-select: none;
    height: 4.8rem;
    line-height: 4.8rem;
    background-color: #41225D;
  }
  #_p2p_landing span.amount:after {
    content:" ";
  }
  #_p2p_landing .remi-header-main {
    display: block;
    width: 100%;
    position: fixed;
  }
  #_p2p_landing .remi-header-main .remi-header-logo {
    user-select: none;
    display: block;
    z-index: 0;
  }
  #_p2p_landing .remi-header-main .remi-header-logo a, #_p2p_landing .remi-header-main .remi-header-logo .remi-link {
    display: block;
    text-decoration: none;
  }
  #_p2p_landing .remi-header-main .remi-header-logo a .remi-logo-container .logo-img, #_p2p_landing .remi-header-main .remi-header-logo .remi-link .remi-logo-container .logo-img {
    height: 2.4rem;
  }
  @media (min-width: 768px) {
    #_p2p_landing .container {
      max-width: 640px;
    }
    #_p2p_landing .two-col-compact .left-col {
      padding-right: 1.2rem !important;
    }
    #_p2p_landing .box.box-md {
      padding: 1.6rem !important;
    }
    #_p2p_landing .text-16-sm {
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 0;
      font-weight: 400;
    }
    #_p2p_landing .text-20-sm {
      font-size: 2rem;
      line-height: 3.2rem;
      letter-spacing: 0;
      font-weight: 400;
    }
    #_p2p_landing .two-col-compact .right-col {
      padding-left: 1.2rem !important;
    }
    #_p2p_landing .remi-header-top {
      display: block;
    }
  }
  #_p2p_landing .svg-icon.icon-24 svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  #_p2p_landing .box.box-md {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  #_p2p_landing .loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #27133A;
    width: 14px;
    height: 14px;
    opacity: 0.8;
    display: inline-block;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  #_p2p_landing .big-loader {
    margin: 50px auto;
    border: 16px solid #f3f3f3 !important;
    border-top: 16px solid #27133A !important;
    width: 120px !important;
    height: 120px !important;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #_p2p_landing .two-col-compact .left-col {
    padding-right: 0.8rem !important;
  }
  #_p2p_landing .two-col-compact .right-col {
    padding-left: 0.8rem !important;
  }
  #_p2p_landing .app-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4.8rem !important;
  }
  #_p2p_landing .remi-footer a, #_p2p_landing .remi-footer .remi-link {
    color: #fff;
  }
  #_p2p_landing a {
    color: #9b59b6;
    text-decoration: none;
  }
  #_p2p_landing .remi-footer .remi-footer-copyright-container .remi-footer-copyright-policy a {
    margin-left: 20px;
  }
  #_p2p_landing .block-download-app .block-download-app-content {
    position: relative;
    padding: 30px;
    background-color: #FBFBFC;
  }
  #_p2p_landing .block-download-app .block-download-app-content p {
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0;
  }
  #_p2p_landing .remi-footer {
    background-color: #210C34;
    padding: 18px 0 18px !important;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-top: 1.6rem;
  }
  @media (min-width: 768px) {
    #_p2p_landing .remi-header-main {
      display: none;
    }
    #_p2p_landing .two-col-compact .left-col {
      padding-right: 1.2rem !important;
    }
    #_p2p_landing .two-col-compact .right-col {
      padding-left: 1.2rem !important;
    }
  }
  @media (min-width: 992px) {
    #_p2p_landing .container {
      max-width: 960px;
    }
    #_p2p_landing .block-download-app .block-download-app-content p {
      max-width: 418px;
    }
    #_p2p_landing .remi-header-top ul.remi-header-top-menu > li:first-of-type {
      margin-left: 0;
    }
    #_p2p_landing .remi-header-main .remi-header-logo > a {
      float: left;
    }
    #_p2p_landing .block-download-app .block-download-app-content {
      padding: 40px 40px;
    }
    #_p2p_landing .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 992px) {
    #_p2p_landing .remi-header-main .remi-header-logo {
      padding: 1.2rem 0 1.6rem 1.6rem;
    }
    #_p2p_landing .block-info .block-info-p {
      margin-bottom: 90px;
    }
    #_p2p_landing .remi-footer-copyright-policy {
      text-align: left;
    }
    #_p2p_landing .block-download-app .block-download-app-content .remi-download {
      text-align: center;
      margin: 10px 0;
      line-height: 30px;
    }
  }
  @media (max-width: 768px) {
    #_p2p_landing .block-download-app .block-download-app-content .remi-download img {
      max-height: 40px;
    }
  }
  @media (min-width: 1200px) {
    #_p2p_landing .container {
      max-width: 1056px;
    }
  }
  #_p2p_landing .remi-header-main .navbar .navbar-toggler {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    position: relative;
    padding: 1.3rem 1.6rem;
  }
  #_p2p_landing .loading-menu {
    position: absolute;
    top: 37%;
    left: 25%;
    opacity: 1;
  }
  #_p2p_landing .remi-header-main .navbar {
    border: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #210C34;
  }
  #_p2p_landing .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.6rem;
  }
  #_p2p_landing .container-fluid {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  #_p2p_landing .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
  }
  #_p2p_landing .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto { position: relative; width: 100%; padding-right: 16px; padding-left: 16px; }
  .col { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .col-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-3 { flex: 0 0 25%; max-width: 25%; }
  .col-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-6 { flex: 0 0 50%; max-width: 50%; }
  .col-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-9 { flex: 0 0 75%; max-width: 75%; }
  .col-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-12 { flex: 0 0 100%; max-width: 100%; }
  @media (min-width: 768px) {
    .col-sm { flex-basis: 0; flex-grow: 1; max-width: 100%; }
    .col-sm-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
    .col-sm-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
    .col-sm-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
    .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
    .col-sm-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
    .col-sm-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
    .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
    .col-sm-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
    .col-sm-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
    .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
    .col-sm-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
    .col-sm-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
    .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
  }
  @media (min-width: 992px) {
    .col-md { flex-basis: 0; flex-grow: 1; max-width: 100%; }
    .col-md-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
    .col-md-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
    .col-md-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
    .col-md-3 { flex: 0 0 25%; max-width: 25%; }
    .col-md-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
    .col-md-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
    .col-md-6 { flex: 0 0 50%; max-width: 50%; }
    .col-md-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
    .col-md-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
    .col-md-9 { flex: 0 0 75%; max-width: 75%; }
    .col-md-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
    .col-md-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
    .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  }

